.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-spinner {
    margin-top: 40px;
  }
}

.title {
  font-size: 20px;
}

.author {
  color: #393a34;
  span {
    font-weight: bold;
    font-size: 15px;
  }
}

.lines {
  margin-top: 20px;
}

.poem-result {
  margin: 10px 0px;
  width: 100%;
}
