<div class="container">
  <mat-form-field>
    <mat-label>Author</mat-label>
    <input [(ngModel)]="author" matInput (keyup)="onKeyUp($event)">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input [(ngModel)]="title" matInput (keyup)="onKeyUp($event)">
  </mat-form-field>
  <button mat-button (click)="onSearch()">
    <mat-icon>search</mat-icon>
    Search
  </button>
</div>
<div class="count-indicator">
  <span>{{displayedCount}} {{displayedCount === 1 ? 'result' : 'results'}}</span>
  <span *ngIf="displayedCount !== totalResultCount">&nbsp;of {{totalResultCount}}</span>
</div>
