.poetry {
  position: fixed;
  height: calc(100% - 64px);
  width: calc(100%);
  .search-panel {
    display: block;
    height: calc(20vh - 64px - 30px);
    width: calc(100% - 30px);
    margin: 25px 15px 15px;
  }
  .container {
    display: flex;
    height: calc(80vh);
    .filter-panel {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      width: 25vw;
    }
    .results-panel {
      border: 1px solid black;
      width: 75vw;
      padding: 15px 30px;
      overflow-y: auto;
    }
  }
}
